.currentweather-container {
    width: fit-content;
    height: fit-content;
    border: 1px black solid;
    border-radius: 5px;
    padding: 10px;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

.currentweather-container > h2 {
    text-align: left;
}

.weatherdetails-table {
    border-left: 2px orange solid;
    padding-left: 5px;
}